{% load static %}

<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>主页</title><meta name="keywords" content="四川大学，信管，信息系统">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="http://www.scu.edu.cn/images/favicon.png">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pageSwitch.min.css' %}">

<!-- CustomerNO:7765626265723230700347545552564003575b5c1b -->
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<script type="text/javascript" src="{% static 'js/vsbscreen.js' %}" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="{% static 'js/counter.js' %}"></script>
<script type="text/javascript">_jsq_(1072,'/index.jsp',-1,1420436181)</script>
<style type="text/css">
    *{
        padding: 0;
        margin: 0;
    }
    html,body{
        height: 100%;
    }
    #container {
            width: 100%;
            height: 500px;
            overflow: hidden;
    }
    .sections,.section {
        height:100%;
    }
    #container,.sections {
        position: relative;
    }
    .section {
        background-color: #000;
        background-size: cover;
        background-position: 50% 50%;
        text-align: center;
        color: white;
    }
    #section0 {
        background-image: url('{% static 'images1/1.jpg' %}');
    }
    #section1 {
        background-image: url('{% static 'images1/2.jpg' %}');
    }
    #section2 {
        background-image: url('{% static 'images1/3.jpg' %}');
    }
    #section3 {
        background-image: url('{% static 'images1/4.jpg' %}');
    }
</style>
</head>
<body 12="">
<div class="index">
<div class="topBox">
        <div class="topContainer">
          <div class="head-right">
               <ul class="hr-left">
                     <li><a href="" target="_blank" title="" onclick='_addDynClicks("wburl", 1420436181, 37132)'>he!p</a></li>
                     <li><a href="http://127.0.0.0:8000/login" target="_blank" title="" onclick='_addDynClicks("wburl", 1420436181, 37155)'>登录</a></li>
                     <li><a href="http://127.0.0.1:8000/regist" target="_blank" title="" onclick='_addDynClicks("wburl", 1420436181, 37133)'>注册</a></li>

               </ul>
               <div class="hr-right">
                 <img src="{% static 'images/search.png' %}" class="go-search" alt="">
               </div>
          </div>
            <script type="text/javascript">
    function _nl_ys_t_check(){

        var keyword = document.getElementById('showkeycode195929').value;
        if(keyword==null||keyword==""){
            alert("请输入你要检索的内容！");
            return false;
        }
        if(window.toFF==1)
        {
            document.getElementById("lucenenewssearchkey195929").value = Simplized(keyword );
        }else
        {
            document.getElementById("lucenenewssearchkey195929").value = keyword;
        }
        var  base64 = new Base64();
        document.getElementById("lucenenewssearchkey195929").value = base64.encode(document.getElementById("lucenenewssearchkey195929").value);
        new VsbFormFunc().disableAutoEnable(document.getElementById("showkeycode195929"));
        return true;
    }
</script>
<div class="search-block">
<form action="search.jsp?wbtreeid=1072" method="post" id="au3a" name="au3a" onsubmit="return _nl_ys_t_check()">
 <input id="lucenenewssearchkey195929" name="lucenenewssearchkey" value="" type="hidden"><input id="_lucenesearchtype195929" name="_lucenesearchtype" value="1" type="hidden"><input id="searchScope195929" name="searchScope" value="0" type="hidden">
<input name="showkeycode" id="showkeycode195929" class="se-input" placeholder="请输入关键字.." type="text">
<input class="se-btn" src="index_files/se-icon.png" type="image">
<img src="{% static 'images/close.png' %}" class="se-close" alt="">
</form>
</div>



<script language="javascript" src="{% static 'js/base64.js' %}"></script><script language="javascript" src="{% static 'js/formfunc.js' %}"></script>

        </div>
    </div>
    <div class="navBox">
       <div class="nav-menu">
           <a href="http://www.scu.edu.cn/index.htm"><img src="{% static 'images/nav-home.png' %}"></a>
            <ul class="nav">
            <li style="display:none"><a href="index.htm">首页</a></li>
             <li><a href="http://www.scu.edu.cn/xxgk/xxjj.htm">学校概况</a></li>
                <li><a href="http://www.scu.edu.cn/xxgk/xxjj.htm">学校概况</a></li>
                <li><a href="http://www.scu.edu.cn/xxgk/xxjj.htm">学校概况</a></li>
                <li><a href="http://www.scu.edu.cn/xxgk/xxjj.htm">学校概况</a></li>
                <li><a href="http://www.scu.edu.cn/xxgk/xxjj.htm">学校概况</a></li>
            </ul>
       </div>
    </div>

<div id="container">
    <div class="sections">
        <div class="section" id="section0"></div>
        <div class="section" id="section1"></div>
        <div class="section" id="section2"></div>
        <div class="section" id="section3"></div>
    </div>
</div>

<script src="{% static 'js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/pageSwitch.min.js' %}"></script>
<script>
    $("#container").PageSwitch({
        direction:'horizontal',
        easing:'ease-in',
        duration:1000,
        autoPlay:true,
        loop:'false'
    });
</script>
    </div>

<!-- <div class="js-silder-ctrl"><span class="silder-ctrl-prev"><span>&lt;</span></span><span class="silder-ctrl-con"><span>1</span></span><span class="silder-ctrl-con active"><span>2</span></span><span class="silder-ctrl-con"><span>3</span></span><span class="silder-ctrl-con"><span>4</span></span><span class="silder-ctrl-con"><span>5</span></span><span class="silder-ctrl-next"><span>&gt;</span></span><span class="silder-ctrl-prev"><span>&lt;</span></span><span class="silder-ctrl-con"><span>1</span></span><span class="silder-ctrl-con"><span>2</span></span><span class="silder-ctrl-con"><span>3</span></span><span class="silder-ctrl-con"><span>4</span></span><span class="silder-ctrl-con"><span>5</span></span><span class="silder-ctrl-next"><span>&gt;</span></span></div></div> -->
<!-- <script>_showDynClickBatch(['dynclicks_u5_5898','dynclicks_u5_5828','dynclicks_u5_5866','dynclicks_u5_5963','dynclicks_u5_5508'],[5898,5828,5866,5963,5508],"wbnews", 1420436181)</script> -->

    </div>

    <div class="xskb">
        <div class="xskbContainer">
            <ul class="titlenav">
                <li class="xskbnav">
                    <a class="item01 fl" href="http://www.scu.edu.cn/index/xx/xskb.htm" target="_blank">
                      <div class="col-title">
                        <i class="icon icon-xskb"></i>
                        <span class="cn">学术看板</span>
                      </div>
                    </a>
                </li>

                <li class="tzggnav">
                    <a class="item02 fl" href="http://www.scu.edu.cn/index/xx/tzgg.htm" target="_blank">
                      <div class="col-title">
                        <i class="icon icon-tzgg"></i>
                        <span class="cn">通知公告</span>
                      </div>
                    </a>
                </li>

                <li class="mtcdnav active">
                    <a class="item03 fl" href="http://www.scu.edu.cn/index/xw/mtcd.htm" target="_blank">
                      <div class="col-title">
                        <i class="icon icon-mtcd"></i>
                        <span class="cn">媒体川大</span>
                      </div>
                    </a>
                </li>

                <li class="mtcdnav">
                    <a class="item04 fl" href="http://www.scu.edu.cn/index/xw/mtcd.htm" target="_blank">
                      <div class="col-title">
                        <i class="icon icon-mtcd"></i>
                        <span class="cn">媒体川大</span>
                      </div>
                    </a>
                </li>

            </ul>
            <div class="xskbtxt tabdiv" style="display: none;">

<ul class="list xs">
<li>
<div class="dl" style="background:url({% static 'images/xs2.png' %}) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">21</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/index/xx/xskb.htm" target="_blank" title="Behind Language">Behind Language</a>
 </div>
 <div class="l2">
    <!--2018年09月18日 10:38:09（<script>getWeek("2018年09月18日 10:38:09")</script>）10:38:09-->
    <img src="index_files/zjricon.png" class="xs-icon1" alt="">Prof. Rudolph SOCK
 </div>
 <div class="l3">
    <img src="index_files/xs2.png" class="xs-icon2" alt="">望江校区汇文楼（东三教）213
 </div>
</div>
</li>
<li>
<div class="dl" >
 <p class="month">2018-09</p>
 <p class="date">21</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/index/xx/xskb.htm" target="_blank" title="同行评议之罪与SSCI之罚：舶来评价体系的是非功过与优化对策">同行评议之罪与SSCI之罚：舶来评价…</a>
 </div>
 <div class="l2">
    <!--2018年09月17日 20:44:12（<script>getWeek("2018年09月17日 20:44:12")</script>）20:44:12-->
    <img src="index_files/zjricon.png" class="xs-icon1" alt="">赵星
 </div>
 <div class="l3">
    <img src="index_files/xs2.png" class="xs-icon2" alt="">萃文楼（公共管理学院）206
 </div>
</div>
</li>
<li>
<div class="dl" style="background:url(images/xs-bg.png) no-repeat;">
 <p class="month">2018-10</p>
 <p class="date">25</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/index/xx/xskb.htm" target="_blank" title="社会工作实务研究与SSCI论文写作">社会工作实务研究与SSCI论文写作</a>
 </div>
 <div class="l2">
    <!--2018年09月14日 10:02:46（<script>getWeek("2018年09月14日 10:02:46")</script>）10:02:46-->
    <img src="index_files/zjricon.png" class="xs-icon1" alt="">沈文伟副教授 香港大学博士，现任香港理工大学应用社会科学系副教授。主要研究领域为青少年吸毒、网瘾、家庭治疗、灾后社会心理工作、社区减灾等。
 </div>
 <div class="l3">
    <img src="index_files/xs2.png" class="xs-icon2" alt="">萃文楼（公共管理学院）三楼会议室
 </div>
</div>
</li>
<li>
<div class="dl" style="background:url(images/xs-bg.png) no-repeat;">
 <p class="month">2018-10</p>
 <p class="date">25</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/index/xx/xskb.htm" target="_blank" title="中国的家庭社会工作与家庭治疗">中国的家庭社会工作与家庭治疗</a>
 </div>
 <div class="l2">
    <!--2018年09月14日 09:59:55（<script>getWeek("2018年09月14日 09:59:55")</script>）09:59:55-->
    <img src="index_files/zjricon.png" class="xs-icon1" alt="">沈文伟副教授 香港大学博士，现任香港理工大学应用社会科学系副教授。主要研究领域为青少年吸毒、网瘾、家庭治疗、灾后社会心理工作、社区减灾等。
 </div>
 <div class="l3">
    <img src="index_files/xs2.png" class="xs-icon2" alt="">萃文楼（公共管理学院）一楼报告厅
 </div>
</div>
</li>
<li>
<div class="dl" style="background:url(images/xs-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">25</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/index/xx/xskb.htm" target="_blank" title="公共图书馆信息建设推动职能转变">公共图书馆信息建设推动职能转变</a>
 </div>
 <div class="l2">
    <!--2018年09月14日 09:57:05（<script>getWeek("2018年09月14日 09:57:05")</script>）09:57:05-->
    <img src="index_files/zjricon.png" class="xs-icon1" alt="">郑蜀，四川省中心图书馆委员会办公室副主任
 </div>
 <div class="l3">
    <img src="index_files/xs2.png" class="xs-icon2" alt="">萃文楼（公共管理学院）306教室
 </div>
</div>
</li>
<li>
<div class="dl" style="background:url(images/xs-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">28</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/index/xx/xskb.htm" target="_blank" title="中美贸易摩擦原因、长短期影响和对策">中美贸易摩擦原因、长短期影响和对策</a>
 </div>
 <div class="l2">
    <!--2018年09月11日 11:29:19（<script>getWeek("2018年09月11日 11:29:19")</script>）11:29:19-->
    <img src="index_files/zjricon.png" class="xs-icon1" alt="">中央财经大学副教授 林发勤
 </div>
 <div class="l3">
    <img src="index_files/xs2.png" class="xs-icon2" alt="">经纬楼北405学术报告厅
 </div>
</div>
</li>
</ul>
<b style="position: relative;right:10px;top:-20px;display:block;float:right;">
<a href="http://www.scu.edu.cn/index/xx/xskb.htm" target="_blank"><img src="index_files/more.png"></a>
</b><!-- <script>_showDynClickBatch(['dynclicks_u9_5964','dynclicks_u9_5958','dynclicks_u9_5905','dynclicks_u9_5904','dynclicks_u9_5903','dynclicks_u9_5839'],[5964,5958,5905,5904,5903,5839],"wbnews", 1420436181)</script> -->

            </div>
            <div class="tzggtxt tabdiv" style="display:none">
                <ul class="list tz">
<li>
<div class="dl" style="width:100px;height:80px;background:url(images/tz-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">11</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/info/1182/5843.htm" target="_blank" title="关于参加第三届全国高校网络教育优秀作品推选展示活动的通知" style="line-height:24px">关于参加第三届全国高校网络教育优秀作品推选展示活动的通知</a>
 </div>
</div>
</li>
<li>
<div class="dl" style="width:100px;height:80px;background:url(images/tz-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">10</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/info/1182/5814.htm" target="_blank" title="关于2018年中秋节、国庆节放假有关事项的通知" style="line-height:24px">关于2018年中秋节、国庆节放假有关事项的通知</a>
 </div>
</div>
</li>
<li>
<div class="dl" style="width:100px;height:80px;background:url(images/tz-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">06</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/info/1182/5740.htm" target="_blank" title="关于举办第三届四川大学大学生网络文化节的通知" style="line-height:24px">关于举办第三届四川大学大学生网络文化节的通知</a>
 </div>
</div>
</li>
<li>
<div class="dl" style="width:100px;height:80px;background:url(images/tz-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">04</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/info/1182/5682.htm" target="_blank" title="关于举行2018级本科生、研究生开学典礼的通知" style="line-height:24px">关于举行2018级本科生、研究生开学典礼的通知</a>
 </div>
</div>
</li>
<li>
<div class="dl" style="width:100px;height:80px;background:url(images/tz-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">04</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/info/1182/5679.htm" target="_blank" title="关于迎新期间江安校区实行交通管制的通知" style="line-height:24px">关于迎新期间江安校区实行交通管制的通知</a>
 </div>
</div>
</li>
<li>
<div class="dl" style="width:100px;height:80px;background:url(images/tz-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">03</p>
</div>
<div class="dr">
 <div class="l1">
    <a href="http://www.scu.edu.cn/info/1182/5659.htm" target="_blank" title="关于开展专项消防安全检查的通知" style="line-height:24px">关于开展专项消防安全检查的通知</a>
 </div>
</div>
</li>
</ul>
<b style="position: relative;right:10px;top:-20px;display:block;float:right;">
<a href="http://www.scu.edu.cn/index/xx/tzgg.htm" target="_blank"><img src="index_files/more.png"></a>
</b><script>_showDynClickBatch(['dynclicks_u10_5843','dynclicks_u10_5814','dynclicks_u10_5740','dynclicks_u10_5682','dynclicks_u10_5679','dynclicks_u10_5659'],[5843,5814,5740,5682,5679,5659],"wbnews", 1420436181)</script>

            </div>
            <div class="mtcdtxt tabdiv" style="display: block;">
                <ul class="list mt">
<li style="margin-bottom:53px;height: 92px;overflow: hidden;">
<div class="dl" style="width:100px;height:80px;background:url(images/mt-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">17</p>
</div>
<div class="dr">
 <div class="l1" style="height:57px;">
    <a href="http://www.scu.edu.cn/info/1202/5982.htm" target="_blank" title="【四川新闻网】2018网络安全博览会：看川大在网络安全人才培养方面创新机制及成果" style="line-height:24px;">【四川新闻网】2018网络安全博览会：看川大在网络安全人才培养方面创新...</a>
 </div>
 <div class="l2" style="margin-top:5px">
    【四川新闻网】
 </div>
</div>
</li>
<li style="margin-bottom:53px;height: 92px;overflow: hidden;">
<div class="dl" style="width:100px;height:80px;background:url(images/mt-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">15</p>
</div>
<div class="dr">
 <div class="l1" style="height:57px;">
    <a href="http://www.scu.edu.cn/info/1202/5985.htm" target="_blank" title="【四川新闻网】四川大学 泸州战略合作项目工作交流会举行" style="line-height:24px;">【四川新闻网】四川大学 泸州战略合作项目工作交流会举行</a>
 </div>
 <div class="l2" style="margin-top:5px">
    【四川新闻网】
 </div>
</div>
</li>
<li style="margin-bottom:53px;height: 92px;overflow: hidden;">
<div class="dl" style="width:100px;height:80px;background:url(images/mt-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">12</p>
</div>
<div class="dr">
 <div class="l1" style="height:57px;">
    <a href="http://www.scu.edu.cn/info/1202/5983.htm" target="_blank" title="【四川日报】诺奖得主女科学家阿达·约纳特：希望与川大在化学医学领域合作" style="line-height:24px;">【四川日报】诺奖得主女科学家阿达·约纳特：希望与川大在化学医学领域合作</a>
 </div>
 <div class="l2" style="margin-top:5px">
    【四川日报】
 </div>
</div>
</li>
<li style="margin-bottom:53px;height: 92px;overflow: hidden;">
<div class="dl" style="width:100px;height:80px;background:url(images/mt-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">08</p>
</div>
<div class="dr">
 <div class="l1" style="height:57px;">
    <a href="http://www.scu.edu.cn/info/1202/5976.htm" target="_blank" title="【央视新闻联播】四川大学：“小课堂”撬动的“大改革”" style="line-height:24px;">【央视新闻联播】四川大学：“小课堂”撬动的“大改革”</a>
 </div>
 <div class="l2" style="margin-top:5px">
    【央视新闻联播】
 </div>
</div>
</li>
<li style="margin-bottom:53px;height: 92px;overflow: hidden;">
<div class="dl" style="width:100px;height:80px;background:url(images/mt-bg.png) no-repeat;">
 <p class="month">2018-09</p>
 <p class="date">05</p>
</div>
<div class="dr">
 <div class="l1" style="height:57px;">
    <a href="http://www.scu.edu.cn/info/1202/5709.htm" target="_blank" title="【科技日报】细胞治疗等成果作价超八亿“孵出”新公司" style="line-height:24px;">【科技日报】细胞治疗等成果作价超八亿“孵出”新公司</a>
 </div>
 <div class="l2" style="margin-top:5px">
    【科技日报】
 </div>
</div>
</li>
<li style="margin-bottom:53px;height: 92px;overflow: hidden;">
<div class="dl" style="width:100px;height:80px;background:url(images/mt-bg.png) no-repeat;">
 <p class="month">2018-08</p>
 <p class="date">17</p>
</div>
<div class="dr">
 <div class="l1" style="height:57px;">
    <a href="http://www.scu.edu.cn/info/1202/5977.htm" target="_blank" title="【中央电视台】中央电视台连续报道我校西藏阿里考古工作取得重大成果" style="line-height:24px;">【中央电视台】中央电视台连续报道我校西藏阿里考古工作取得重大成果</a>
 </div>
 <div class="l2" style="margin-top:5px">
    【中央电视台】
 </div>
</div>
</li>
</ul>
<b style="position: relative;right:10px;top:-20px;display:block;float:right;">
<a href="http://www.scu.edu.cn/index/xw/mtcd.htm" target="_blank"><img src="index_files/more.png" alt=""></a>
</b><!-- <script>_showDynClickBatch(['dynclicks_u11_5982','dynclicks_u11_5985','dynclicks_u11_5983','dynclicks_u11_5976','dynclicks_u11_5709','dynclicks_u11_5977'],[5982,5985,5983,5976,5709,5977],"wbnews", 1420436181)</script>
 -->
            </div>
        </div>
    </div>

    <div class="footer">

<div class="backTop" id="backTop" style="display: none;"></div>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery_002.js' %}"></script>
<script src="{% static 'js/wySlider.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/js.js' %}"></script>
<script>
    /*导航滑动特效*/
    $(document).scroll(function () {
        var top = $(document).scrollTop();
        if (top > 480) {
            $(".navbar-fixed-top").show();
        }else{
            $(".navbar-fixed-top").hide();
        }
    });
</script>
<script>
      //图片预加载效果
      $("img.lazy").lazyload({
           effect: "fadeIn",
           threshold :200
      });
</script>
<script>
    $(".js-silder").silder({
        auto: true,
        speed: 20,
        sideCtrl: true,
        bottomCtrl: true,
        defaultView: 0,
        interval: 5000,
        activeClass: "active",
        preload:true
    });
</script>
<!-- <script>
    var links=[".one",".two"];
    $.each(links,function(index,item){
        $(item).selectFilter({
            callBack : function (val){
                if (val!=""){
                  window.location.href = val;
                }
            }
        });
    })
</script> -->

<div style="display:none;">
<a href="http://webscan.360.cn/index/checkwebsite/url/www.scu.edu.cn"><img src="index_files/17689f7844bfd5ae7eef49bd36303de7.png" border="0"></a>
</div>



</div></div></body></html>